@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  display: flex;
  font-family: 'Muli', sans-serif;
}

.balance, .contract, .existing-contracts {
  margin: 20px;
  display: inline-block;
  padding: 40px;
  background-color: #111;
  color: #ccc;
}

abbr.balance {
  color: white;
  font-size: 1.5em;
}

h1, h2, h3 {
  color: #fff;
  padding: 0px;
}

h3 {
  text-align: center;
  font-weight: bold;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

input[type="button"] {
  background-color: #75fbf6;
  color: black;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
}

input[type="button"]:disabled {
  background-color: silver;
  color: #fff;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}
